/*jwh Slidy Style Overrides: JW Hollister, April 2015*/
/* All other styles and functions are from default slidy style in RStudio*/


/*****************************************************************************/
/* General Slides
/*****************************************************************************/
div h1 {
  color: #559B6A;
}



/*****************************************************************************/
/* Segue Slides
/*****************************************************************************/
div.segue  h1 {
  color: white;
  font-size: 50pt;
  font-weight: bold;
  position: absolute;
  margin-top: 30%;
  margin-left: 10%;
}

div.segue img {
  /* Borrowed from: https://css-tricks.com/perfect-full-page-background-image/*/
  
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Kill padding */
  margin: 0px;
  padding: 0px;
  
}

div.segue p {
  margin: 0px;
  padding: 0px;
}

div.segue {
  padding: 0px;
}

/*****************************************************************************/
/* Tables
/*****************************************************************************/
/* Table Style */
/* borders */
table thead {
  border-top: 1px solid #4a5b63;
  border-bottom: 1px solid #4a5b63;
}

table td {
  border-bottom: 1px solid #4a5b63;
}

/* Header Background and Font colors*/
table th {
  background: #4a5b63;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}

/* Row Alternating Color eff3f4*/
table tr:nth-child(2n+1) {
  background: #b6b8ba;
}

/* Table Font */
table tr > td:first-child {
  font-weight: 600;
  color: #4a5b63;
}

/*****************************************************************************/
/* image right
/*****************************************************************************/

div.img-right img {
  position: absolute; 
  top: 10%; 
  left: 50%;
}

/*****************************************************************************/
/* image left
/*****************************************************************************/

div.img-left img {
  position: absolute; 
  top: 10%; 
  left: 10%;
}